/*Global Customize*/

body {
    padding-bottom: 40px;
    font-family: 'Microsoft YaHei thin', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3 {
    font-family: 'Microsoft Yahei', sans-serif;
}

.button{
    font-family:"Microsoft YaHei UI","Microsoft YaHei","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important;
}


/* 导航栏样式
--------------------------------------------------*/

.header-search-input {
    /*background-color: rgb(63, 67, 71);*/
    background-color: rgba(240,240,240,.6);
    border-color: transparent;
    width: 200px!important;
    font-weight: normal;
}

.navbar-brand {
    margin: -8px -5px 5px 5px;
}
.navbar-fixed-top{
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
}
.navbar-right {
    padding-right: 30px;
}
.navbar {
    /*background: #24292e;*/
    border-color: transparent;
    margin: 0!important;
    font-size: 15px;
}
.nav .open>a, .nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent!important;
}
.dropdown-menu{
    border: 0!important;
    border-radius: 4px!important;
}
#navbar a {
    transition: color 0.5s ease-in-out;
    color: #555;
}
#navbar a:hover{
    color: #337ab7;
}
#nav-notifier{
    font-size: 20px;
    margin-top: 0;
}
.avatar-small {
    margin: 0 0 -10px;
    position: relative;
    bottom: 4px;
}
#avatar-control {
    display: inline-block;
    height: 30px;
    width: 30px;
    overflow: hidden;
    text-align: center;
}
.dropdown-header {
    font-weight: normal;
}
#user_avatar{
    width: 30px;
}
/*轮播区
---------------------------------*/

.input-lg {
    background: rgba(255, 255, 255, 0.6)!important;
}

.input-group {
    margin-bottom: 20px;
}
#swip-contain{

    background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),
    linear-gradient(70deg, #f7d6a0 32%, #ebfff0);
}
#swip-contain .container{
    margin-top: 10px;
}
.swiper-container {
    margin-top: 50px;
    background: #FFF;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0 12px 24px 0 rgba(7,17,27,.2);
}

.swiper-slide {
    text-align: center;
}

.cover {
    width: auto;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}

#cover-chooser {
    margin: 0 auto 10px;
    width: 30%;
    text-align: center;
    position: static;
    border-color: black;
    border: 2px;
}

.swiper-pagination-bullet {
    margin: 0 5px;
}


/*分类
---------------------------------------*/

.top-content-box {
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
    padding: 10px 0 23px;
    position: relative;
    z-index: 20;
}

.intro-background {

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
}

.intro {
    text-align: center;
    color: #F0F0F0!important;
    line-height: 2em;
    font-size: 1.4em;
}
#main-intro{
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
    padding: 10px 0 23px;
    position: relative;
    z-index: 20;
}
#show-main-intro {
    margin: 0 auto;
    text-align: justify;
    text-align-last: justify;
    width: 30%;
}

/*主内容区
-------------------------------*/

.main-content-box {
    padding-top: 30px;
    background-blend-mode: normal, multiply;
    background-size: cover;
    background: rgb(248, 250, 252) linear-gradient(to top, #fff 0%, #f8fafc 100%) no-repeat fixed center center;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.button-circle {
    box-shadow: 0 0 8px #eed;
    text-align: center;
    text-align-last: center;
}

.option-bar {
    text-align: right;}

.thumbnail{
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 4px 8px 0 rgba(7,17,27,.05);
    border:0;
    transition: .3s all linear;
}
.thumbnail .caption .title{
    transition: .3s all linear;
}
.thumbnail-image {
    border-radius: 0;
    height: auto;
    border-style: solid;
}

.thumbnail:hover{
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1)
}

.thumbnail:hover .caption .title{
    color: rgb(234,174,07)!important;
}

.thumbnail-div {
    width: 104%;
    margin: -4px 0px 0px -4px;
    box-shadow: 1px 0px 7px #ddd;
}

.caption {
    color: #aab!important;
}
.descrip {
    font-size: 10px;
}
.title {
    color: rgb(7,17,27);
    font-family: "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
    font-size: 16px;
}

.copyright-background {
    font-family: 'Microsoft YaHei UI bold', 'Microsoft YaHei', sans-serif;
    text-align: center;
    color: #888;
    margin: 1em 0em -10em;
    line-height: 2em;
    display: none;
}

.carousel-caption{
    bottom: 0!important;
    padding-bottom: 0!important;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media(min-width:1020px) {
    .cover {
        width: 2000px;
        height: auto;
        overflow: hidden;
    }
}

@media(max-width:1600px) {
    #show-main-intro {
        width: 40%;
        line-height: 60px;
    }
}

@media(max-width:1200px) {
    #show-main-intro {
        width: 70%;
        line-height: 60px;
    }
}

@media (min-width: 769px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .swiper-slide,
    .carousel-caption p {
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
    .navbar-content {
        padding: 2px 0px 0px 50px;
    }
    .carousel-caption .input-group {
        display: none!important;
    }
    .mobile-cover {
        display: none!important;
    }
}

@media(max-width:768px) {
    #show-main-intro {
        width: 70%;
        line-height: 60px;
    }
    .desktop-cover {
        display: none!important;
    }
    .cover {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .navbar-form{
        display: none!important;
    }
}

@media(max-width:450px) {
    .thumbnail-div {
        width: 105%!important;
    }
    .swiper-container {
        height: 400px;
    }
}

@media(max-width:375px) {
    .thumbnail-div {
        width: 106.8%!important;
    }
    #show-main-intro {
        width: 80%;
        line-height: 60px;
    }
}

@media(max-width:398px) {
        .cover {
        width: auto;
        height: 100%;
        overflow: hidden;
    }
}
