/*Global Customize*/
body {
    padding-bottom: 40px;
    font-family: 'Microsoft YaHei thin',sans-serif;
    background-color: #fff;
}

h1,
h2,
h3 {
    font-family: 'Microsoft Yahei'
}

.navbar-inverse {
    background: #24292e;
    font-family: 'Microsoft YaHei UI bold','Microsoft YaHei',sans-serif;
}

#navbar a{
    transition: color 0.5s ease-in-out;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-inner > .item > img {
    height: 500px;
    width: auto;
    min-width: 100%;
}

  #myCarousel {
  margin-top: 3.6em;
}
/* Customize setting
--------------------------------------------------*/
.header-search-input{
    background-color: rgb(63,67,71);
    border-color: transparent;
    width: 200px!important;
}
.navbar-brand {
    margin: -8px -5px 5px 5px;
}

.navbar-right {
    padding-right: 30px;
}
.navbar-content{
    padding: 0px 50px;
    margin-top: 5px;
}
.up-blank {
    margin-top: 20px;
    padding-top: 10px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
 	background-blend-mode: normal, multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ff743e;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #EEE;
}
.nav{
    font-size: 15px;
    font-weight:lighter;
}
.input-lg{
    background:rgba(255, 255, 255, 0.6)!important;

}
.input-group{
    margin-bottom: 20px;
}
.thumbnail-image {
    border-radius: 0px;
    height: auto;
    border-style:solid;

}
.thumbnail-div{
    width: 103%;
    margin: -4px 0px 0px -4px;
}
#index-gallery{
    margin-top: -1.4em;
}
  .intro-background{
    background-color: #DDD;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
}
  .intro{
    text-align: center;
    color: #F0F0F0!important;

    line-height: 2em;
    font-size: 1.4em;
  }

  #show-main-intro{
    margin:20px auto; 30px;
      text-align: justify;
      text-align-last: justify;
      width: 30%;
  }

.button-circle{
    box-shadow: 0px 0px 8px #ddd;
    text-align: center;
    text-align-last: center;
}
.option-bar{
    text-align: justify;
    text-align-last: justify;
}
.thumbnail{
    border-radius: 0px;
}
.caption{
    color: #aab!important;
}
.title{
    color: #000;
    font-family: 'Microsoft YaHei UI bold','Microsoft YaHei',sans-serif;
    font-size: 16px;
}
  .copyright-background{
    font-family: 'Microsoft YaHei UI bold','Microsoft YaHei',sans-serif;
    text-align: center;
    color: #555;
    text-shadow: 1px 1px 1px #ddd;
    margin: 1em 0em -10em;
    line-height: 2em;
  }
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media(max-width:1200px){
  .thumbnail-div{
    width: 105.6%!important;
}
}
