body {
    background: #da7a09
                url('../images/bg/login_bg.jpg')
                no-repeat
                fixed
                center center / cover;
    text-align: center;
    font-family: 'Microsoft YaHei', sans-serif;
}

html, body {
    position: relative;
    height: 100%;
}

#return-index {
    margin-top: 75px;
    width: 250px;
    height: auto;
}

.button-3d {
    margin: 5px 10px;
    padding: 0 35px;
    font-family: "Microsoft YaHei UI Light", "Microsoft YaHei", sans-serif!important;
    color: #eaeaea;
}

.warning{
    border-color: red!important;
}

.notify {
    margin: 15px 0 !important;
    color: #111;
    font-family: "Microsoft YaHei UI Light", "Microsoft YaHei", sans-serif!important;
}

#nickname{
    font-family: "Microsoft YaHei", sans-serif!important;
    font-weight: bold;
    color: #FFF;
}

.form-signin,
.form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-heading,
.form-signin .checkbox,
.form-signup .checkbox {
    margin-bottom: 10px;
}
p.optional{
    margin: 10px 0 5px;
    font-weight: bold;
}
.form-signup .checkbox,
.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control,
.form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus,
.form-signup .form-control:focus {
    z-index: 2;
}
.err{
    color: #fff !important;
    text-shadow: 0 1px 3px rgba(0,0,0,.6);
    transition: all .5s;
    display: block;
    height: 0;
}
#confirm-err{
    display: inline;
}
#inputTel,#signTel {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#inputPw {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#signPw,
#signNickname{
    margin-bottom: -1px!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.form-signup label{
    font-weight: normal!important;
}
#confirmPw {
    margin-bottom: 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#to-login {
    color: #444 !important;
    display: block;
    margin: 5px 0;
    font-size: 14px !important;
}

@media (min-width: 1600px) {
    .carousel-inner {
        margin: -400px 0px 0px -100px!important;
        position: relative;
        z-index: -1;
    }
    .success-pic {
        margin-top: -300px !important;
    }
}
@media (min-width: 1000px) {
    #return-index {
        margin-top: 150px!important;
    }
    .carousel-inner {
        margin: -200px 0px 0px -100px;
        position: relative;
        z-index: -1;
    }
}
@media (max-width: 768px) {
    .copyright-background p {
        font-size: 10px !important;
    }
}
